<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mise en niveau</title>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <base href="/" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
